#body{
  background-color: #080707;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.brand-name{
  color:white;
}
input#form1 {
  border: 1px solid #C23422;
  box-shadow: #bf3727 0px 0px 4px;
  border-radius: 10px 0px 0px 10px;
}
#search-button {
  background-color: #c34131;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #C23422;
  box-shadow: #bf3727 0px 0px 4px;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: center;
}
#card{
  box-shadow: #000000c7 0px 0px 5px;
  border: 0px;
  padding: 10px;
  background-color: #151515;
}
#card-body{
  background-color: #151515;
  padding: 10px;
  padding: 6px 0px 5px 8px;
}
.card-img-top{
  height: 310px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product {
  margin: 12px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #C23422;
  box-shadow: #bf3727 0px 0px 4px;
  background-color: #151515;
}
.product-image {
  width: 150px;
  height: 150px;
}
#addToCart-btn, #details-btn,#buy-now {
  background-color: #c34131;
  color: white;
  text-transform: capitalize;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
#my-cart{
  background-color: #151515;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  border: 1px solid #CB2510;
  box-shadow: #e057468f 10px 4px 11px;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
